[run]
# source = your-directory-with-code-to-test 
omit =
    **/tests/*
    **/test_*.py
    **/__init__.py
    *venv*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
